Dataset/*
Related\ Papers/*
Draft/*
Code/__pycache__
Code/._*
.vscode
Code/momentum-food101
Code/pretrained-inception-resnet-v2
Code/rmsprop-food101
Code/momentum-UECFOOD100
Code/momentum-UECFOOD256
Code/momentum_decay-food101
Validations/**/*